#leftcol{
    float: left;
    width: 50%;
}
#rightcol{
    margin-left: 51%;
}
#header{
    width: 100%;
    position: fixed;
}
#block{
    background-color: aqua;
    border: burlywood 1px solid;
    width: 100%;
    height: 100px;
}
#preview{
    background-color: grey;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    position: fixed;
}