.insert{
    display: flex;
    width: 100%;
    min-height: 5px;
    height: max-content;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
    border-top: lightskyblue 2px solid;
}
.structure-element{
    height: max-content;
    width: 100%;
}
.add-button{
    display: flex;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.image-load{
    margin-top: 6px;
    display: inline-block;
}
.image-preview{
    display: block;
    width: 94%;
    margin-left: 3%;
    height: unset;
    margin-top: 6px;
    margin-bottom: 6px;
}
.mini-toolbar{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    width: 100%;
}
.mini-toolbar-button{
    width: 24px;
    height: 24px;
    margin: 5px;
    border: none;
    padding: 0;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px;
}
.insert:hover{
    border-top: 2px #d4d4d4 solid;
}
.add-button{
    background-color: white;
    border-radius: 5px;
    border: grey solid 1.5px;
}
textarea{
    outline: none;
    border: none;
    background-color: lightgray;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-size: 1.2em;
}
.paragraph-text{
    resize: vertical;
    width: 100%;
    min-height: 120px;
    text-indent: 2em;
}
.enumeration-text{
    width: 100%;
    resize: vertical;
    margin-bottom: 6px;
}
.code-snippet-caption{
    width: 100%;
    resize: vertical;
    margin-bottom: 6px;
}
.code-snippet-text{
    resize: vertical;
    width: 100%;
    min-height: 120px;
    font-family: 'Courier New', monospace;
    font-size: 1em;
}
.image-remove{
    float: right;
    margin-top: 6px;
}
.image-caption-text{
    width: 100%;
    resize: vertical;
    margin-top: 6px;
}
.table-caption{
    width: 100%;
    resize: vertical;
    margin-bottom: 6px;
}
.button-open-table-editor{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
}
.formula-text{
    resize: vertical;
    width: 100%;
}
.content-container{
    display: flex;
}
.v-line{
    display: inline-block;
    justify-self: stretch;
    border-left: 2px orange solid;
    width: 0;
    margin: 6px;
}
.section-content{
    display: inline-block;
    width: calc(100% - 6px);
    height: max-content;
}
.heading-text{
    display: inline-block;
    width: calc(100% - 35px);
    resize: vertical;
}
.roll-up{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    vertical-align: top;
    text-align: center;
    font-size: 1.2em;
    padding: 0;
    border: none;
    background-color: inherit;
}
.editor-element{
    width: calc(100% - 16px);
    padding: 8px;
    background-color: white;
    border-radius: 10px;
    border: none;
}
.keyframe{
    display: inline-block;
    padding: 2px;
    border-radius: 3px;
    background-color: white;
    color: black;
    margin: 3px;
}
.table-editor-hint{
    color: white;
    padding: 5px;
    box-sizing: border-box;
}
.formula-png{
    display: block;
    max-width: 94%;
    margin-left: 3%;
    height: auto;
    height: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    max-height: 400px;
}
