/* LAYOUT */
/* Contaner for other elements like image, text, ... */
#editor_element{ 
    width: 100%;
    height: max-content;
}
/* Special element, locates among #editor_element's */
.insert{
    display: flex;
    width: 95%;
    min-height: 2px;
    height: max-content;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.structure-element{
    height: max-content;
    width: 100%;
}
/* Debugging element*/
.sample-block{
    width: 98%;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}
.paragraph{
    width: 98%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}
.paragraph-text{
    width: 94%;
    margin-left: 3%;
    min-height: 150px;
    resize: vertical;
    margin-top: 8px;
    margin-bottom: 8px;
}
.section{
    width: 100%;
    height: max-content;
}
.heading{
    width: 98%;
    margin-left: 1%;
    height: max-content;
}
.heading-text{
    width: 94%;
    margin-left: 3%;
    min-height: 30px;
    resize: vertical;
    margin-top: 3px;
    margin-bottom: 3px;
}
.section-content{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
}
.add-button{
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.editor-panel{
    height: max-content;
    padding: 10px;
}
.code-snippet{
    width: 98%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}
.code-snippet-caption{
    width: 94%;
    margin-left: 3%;
    min-height: 30px;
    resize: vertical;
    margin-top: 6px;
    margin-bottom: 0px;
}
.code-snippet-text{
    width: 94%;
    margin-left: 3%;
    min-height: 150px;
    resize: vertical;
    margin-top: 6px;
    margin-bottom: 6px;
}
.enumeration{
    width: 98%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}
.enumeration-text{
    width: 94%;
    height: 25px;
    margin-left: 3%;
    resize: vertical;
    margin-top: 6px;
    margin-bottom: 6px;
}
.image{
    width: 98%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}
.image-load{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 6px;
    display: inline-block;
}
.image-preview{
    display: block;
    width: 94%;
    margin-left: 3%;
    height: unset;
    resize: vertical;
    margin-top: 6px;
    margin-bottom: 6px;
}
.image-caption-text{
    width: 94%;
    height: 25px;
    margin-left: 3%;
    resize: vertical;
    margin-top: 6px;
    margin-bottom: 6px;
}
.image-remove{
    float: right;
    margin-left: auto;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 6px;
}
.table{
    width: 98%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}
.button-open-table-editor{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.2em;
}
.table-caption{
    width: 94%;
    height: 25px;
    margin-left: 3%;
    resize: vertical;
    margin-top: 6px;
    margin-bottom: 6px;
}
.formula{
    width: 98%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}
.formula-text{
    width: 94%;
    height: 25px;
    margin-left: 3%;
    resize: vertical;
    margin-top: 6px;
    margin-bottom: 6px;
}

/* PERSONALITY */
.insert{
    background-color: lightskyblue;
}
.insert:hover{
    background-color: inherit;
}
.sample-block{
    background-color: white;
    border-radius: 5px;
    border: black solid 1.5px;
}
.paragraph{
    background-color: white;
    border-radius: 5px;
    border: black solid 1.5px;
}
.paragraph-text{
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: black solid 1.5px;
}
.heading{
    background-color: white;
    border-radius: 5px;
    border: black solid 1.5px;
}
.heading-text{
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: black solid 1.5px;
}
.add-button{
    background-color: white;
    border-radius: 5px;
    border: grey solid 1.5px;
}
.editor-panel{
    background-color: white;
    border: black solid 1.5px;
}
.code-snippet{
    background-color: white;
    border-radius: 5px;
    border: black solid 1.5px;
}
.code-snippet-caption{
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: black solid 1.5px;
}
.code-snippet-text{
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: black solid 1.5px;
}
.enumeration{
    background-color: white;
    border-radius: 5px;
    border: black solid 1.5px;
}
.enumeration-text{
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: black solid 1.5px;
}
.image{
    background-color: white;
    border-radius: 5px;
    border: black solid 1.5px;
}
.image-caption-text{
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: black solid 1.5px;
}
.table{
    background-color: white;
    border-radius: 5px;
    border: black solid 1.5px;
}
.table-caption{
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: black solid 1.5px;
}
.formula{
    background-color: white;
    border-radius: 5px;
    border: black solid 1.5px;
}
.formula-text{
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: black solid 1.5px;
}
