body{
    background-color: #d4d4d4;
    border-width: 0px;
    margin: 0px;
    width: 212mm;
}
.page{
    width: 210mm;
    height: 297mm;
    background-color: white;
    padding: 2cm 1cm 2cm 3cm;
    margin-top: 5mm;
    position: relative;
    box-sizing: border-box;
}
.paragraph{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    line-height: 17pt;
    text-align-last: justify;
}
.image{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    line-height: 17pt;
    text-align-last: justify;
    font-weight: bold;
}
.image-caption{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    line-height: 17pt;
    text-align-last: center;
}
.caption{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    line-height: 17pt;
}
.snippet{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
    line-height: 12pt;
    white-space: pre;
}
.formula{
    margin-left: 12.5mm;
    display: block;
}
td{
    border: 0.5pt solid black;
    border-top: none;
    height: 14pt;
    box-sizing: border-box;
    text-align: center;
}
.table-header{
    border-top: 0.5pt solid black;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 12pt;
    line-height: 14pt;
}
.title{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14pt;
    line-height: 17pt;
    font-family: 'Times New Roman', Times, serif;
}
.numberable::after{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    line-height: 17pt;
    font-size: 14pt;
    position: absolute;
    text-align: center;
    content: attr(name);
    bottom: 1cm;
    width: 170mm;
}
.central-align-text{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    line-height: 17pt;
    font-size: 14pt;
    text-align: center;
    white-space: pre;
    width: 170mm;
}
.standart-table-cell{
    font-family: 'Times New Roman', Times, serif;
    line-height: 17pt;
    font-size: 14pt;
    text-align: center;
    border-top: 0.5pt solid black;
}
.title-table-cell{
    border: 0;
}
.sub-table-cell{
    line-height: 12pt;
    font-size: 10pt;
    height: 12pt;
}
.line{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    line-height: 17pt;
    white-space: pre;
}
