.table-editor{
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    height: max-content;
    top: 0%;
    left: 0%;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.table-area{
    position: absolute;
    top: 10%;
    width: 70%;
    min-height: 90%;
    height: max-content;
    margin-left: 15%;
    display: flex;
}
.table-editor-apply{
    position: fixed;
    width: 7%;
    height: 25px;
    min-width: 25px;
    bottom: 2.5%;
    right: 2.5%;
}
.table-editor-hint{
    position: absolute;
    top: 10%;
    left: 85%;
    width: 15%;
    min-height: 90%;
    height: max-content;
}
.table-column{
    display: block;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.table-cell{
    box-sizing: border-box;
    background-color: white;
    resize: vertical;
    border-radius: 0;
    border: 1px black solid;
    display: block;
    width: 100%;
    min-height: 50px;
}
.button-delete-column{
    display: block;
    margin: 0 auto;
}
