/* LAYOUT */
.dropdown{
    width: 225px;
    height: 40px;
    float: left;
    margin-left: 10px;
    user-select: none;
    font-size: 1.5em;
    padding: 5px;
}

/* PERSONALITY */
.dropdown{
    background-color: white;
    border: black solid 1.5px;
    border-radius: 5px;
}
